# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log

# Documentation
README.md

# macOS
.DS_Store
